@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?raf6a3');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?raf6a3#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?raf6a3') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?raf6a3') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?raf6a3##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="flow-icon-"], [class*=" flow-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flow-icon-message {
  &:before {
    content: $flow-icon-message;
  }
}
.flow-icon-calendar {
  &:before {
    content: $flow-icon-calendar;
  }
}
.flow-icon-git-branch {
  &:before {
    content: $flow-icon-git-branch;
  }
}
.flow-icon-git-commit {
  &:before {
    content: $flow-icon-git-commit;
  }
}
.flow-icon-git-compare {
  &:before {
    content: $flow-icon-git-compare;
  }
}
.flow-icon-git-merge {
  &:before {
    content: $flow-icon-git-merge;
  }
}
.flow-icon-git-pull-request {
  &:before {
    content: $flow-icon-git-pull-request;
  }
}
.flow-icon-repo-forked {
  &:before {
    content: $flow-icon-repo-forked;
  }
}
.flow-icon-repo-push {
  &:before {
    content: $flow-icon-repo-push;
  }
}
.flow-icon-tag {
  &:before {
    content: $flow-icon-tag;
  }
}
.flow-icon-add_circle {
  &:before {
    content: $flow-icon-add_circle;
  }
}
.flow-icon-arrow-left {
  &:before {
    content: $flow-icon-arrow-left;
  }
}
.flow-icon-control_point {
  &:before {
    content: $flow-icon-control_point;
  }
}
.flow-icon-caretdown {
  &:before {
    content: $flow-icon-caretdown;
  }
}
.flow-icon-loading {
  &:before {
    content: $flow-icon-loading;
  }
}
.flow-icon-loading1 {
  &:before {
    content: $flow-icon-loading1;
  }
}
.flow-icon-checkbox-checked {
  &:before {
    content: $flow-icon-checkbox-checked;
  }
}
.flow-icon-checkbox-unchecked {
  &:before {
    content: $flow-icon-checkbox-unchecked;
  }
}
.flow-icon-radio-unchecked {
  &:before {
    content: $flow-icon-radio-unchecked;
  }
}
.flow-icon-radio-checked {
  &:before {
    content: $flow-icon-radio-checked;
  }
}
.flow-icon-key {
  &:before {
    content: $flow-icon-key;
  }
}
.flow-icon-user {
  &:before {
    content: $flow-icon-user;
  }
}
.flow-icon-agents {
  &:before {
    content: $flow-icon-agents;
  }
}
.flow-icon-branches {
  &:before {
    content: $flow-icon-branches;
  }
}
.flow-icon-check {
  &:before {
    content: $flow-icon-check;
  }
}
.flow-icon-drag {
  &:before {
    content: $flow-icon-drag;
  }
}
.flow-icon-pencil {
  &:before {
    content: $flow-icon-pencil;
  }
}
.flow-icon-logo {
  &:before {
    content: $flow-icon-logo;
  }
}
.flow-icon-checkbox-indeterminate {
  &:before {
    content: $flow-icon-checkbox-indeterminate;
  }
}
.flow-icon-settings {
  &:before {
    content: $flow-icon-settings;
  }
}
.flow-icon-logout {
  &:before {
    content: $flow-icon-logout;
  }
}
.flow-icon-search {
  &:before {
    content: $flow-icon-search;
  }
}
.flow-icon-equalizer {
  &:before {
    content: $flow-icon-equalizer;
  }
}
.flow-icon-git-branch1 {
  &:before {
    content: $flow-icon-git-branch1;
  }
}
.flow-icon-layergroup {
  &:before {
    content: $flow-icon-layergroup;
  }
}
.flow-icon-off {
  &:before {
    content: $flow-icon-off;
  }
}
.flow-icon-search2 {
  &:before {
    content: $flow-icon-search2;
  }
}
.flow-icon-code {
  &:before {
    content: $flow-icon-code;
  }
}
.flow-icon-plus-sm {
  &:before {
    content: $flow-icon-plus-sm;
  }
}
.flow-icon-question-thin {
  &:before {
    content: $flow-icon-question-thin;
  }
}
.flow-icon-warning {
  &:before {
    content: $flow-icon-warning;
  }
}
.flow-icon-bookmark {
  &:before {
    content: $flow-icon-bookmark;
  }
}
.flow-icon-jigsaw {
  &:before {
    content: $flow-icon-jigsaw;
  }
}
.flow-icon-notification {
  &:before {
    content: $flow-icon-notification;
  }
}
.flow-icon-users {
  &:before {
    content: $flow-icon-users;
  }
}
.flow-icon-timeout {
  &:before {
    content: $flow-icon-timeout;
  }
}
.flow-icon-social-github {
  &:before {
    content: $flow-icon-social-github;
  }
}
.flow-icon-trash {
  &:before {
    content: $flow-icon-trash;
  }
}
.flow-icon-question {
  &:before {
    content: $flow-icon-question;
  }
}
.flow-icon-pending {
  &:before {
    content: $flow-icon-pending;
  }
}
.flow-icon-circle-check {
  &:before {
    content: $flow-icon-circle-check;
  }
}
.flow-icon-stopped {
  &:before {
    content: $flow-icon-stopped;
  }
}
.flow-icon-failure {
  &:before {
    content: $flow-icon-failure;
  }
}
.flow-icon-running {
  &:before {
    content: $flow-icon-running;
  }
}
.flow-icon-cross {
  &:before {
    content: $flow-icon-cross;
  }
}
.flow-icon-stopwatch {
  &:before {
    content: $flow-icon-stopwatch;
  }
}
